main.calc-container
      section.calc__screen
                  #lastOperationScreen.calc__screen--last
                  #currentOperationScreen.calc__screen--current 0
      section.btns-container
            button.btn.number.one 1
            button.btn.number.two 2
            button.btn.number.three 3
            button.btn.number.four 4
            button.btn.number.five 5
            button.btn.number.six 6
            button.btn.number.seven 7
            button.btn.number.eight 8
            button.btn.number.nine 9
            button.btn.number.zero 0

            button.btn.operator.divide ÷
            button.btn.operator.multiply x
            button.btn.operator.minus -
            button.btn.operator.plus +

            button.btn.controller.clear C
            button.btn.controller.backspace ⬅
            button.btn.controller.equal =
            button.btn.other.dot .
            button.btn.other.percent %